<table class="table" style="margin-top: 20px">
<thead>
  <tr>
    <th>입력일</th>
    <th>보도일</th>
    <th>언론사명</th>
    <th>제목</th>
    <th>링크</th>
    <th>관련자료</th>
    <th>비고</th>
  </tr>
  </thead>
  
    <% if company.presses.length > 0 %>
    <tbody>
      <% company.presses.each do |press| %>
      <tr>
        <td><%= press.created_at.to_s[0,10] %></td>
        <td><%= press.when.to_s[0,10] %></td>
        <td><%= press.press_name %></td>
        <td><%= press.title %></td>
        <td><%= link_to press.link, press.link, target: "_blank" %></td>
        <td>
          <% if press.related_file.attachment != nil %>
            <a class="m-0 btn btn-outline-info" href="<%= press.related_file.service_url %>" target="_blank">보기</a>
          <% else %>
            <a class="m-0 btn btn-outline-info disabled" ><del>보기</del></a>
          <% end %>
        </td>
        <td><%= press.bigo %></td>
      </tr>
      <% end %>
      </tbody>
    <% else %>
    <tbody>
      <td colspan="7" class="text-center">언론 보도가 없습니다!</td>
      </tbody>
    <% end %>
</table>