<h1>현황관리</h1>

<div>
  <h2 style="margin-left: 20px">1. 업무성과</h2>

  <div>
    <h3 style="margin-left: 40px">5. 기타</h3>
    <%= render 'actable', company: @company %>
    <%= form_for @achievement do |f| %>
      <span>입력일은 자동 생성</span>
      <%= f.date_field :when , required: true, style:"width:150px" %>
      <%= f.text_field :content, required: true, style:"width:100px", placeholder: "성과내용 작성"  %>
      <%= f.file_field :related_file, required: true, style:"width:170px" %>
      <%= f.text_field :bigo, style:"width:100px", placeholder: "비고 작성" %>
      <%= f.hidden_field :company, value: @company.id %>
      <%= f.submit "작성", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>