<div class="h2 text-center">현황관리 > <span class="h3"> 업무성과</span></div>

<div class="h3">5. 기타 </div>
    <%= render 'actable', company: @company %>
    <table class="table" style="margin-top : 100px">
    <thead>
    <tr>
    <th>입력일</th>
    <th>날짜</th>
    <th>성과내용</th>
    <th>관련자료</th>
    <th colspan="2">비고</th>
    <th></th>
  </tr>
  </thead>
    <%= form_for @achievement do |f| %>
    <tbody>
    <tr>
      <td>입력일은 자동 생성</td>
      <td><%= f.date_field :when , required: true, style:"width:150px" %></td>
      <td><%= f.text_field :content, required: true, style:"width:100px", placeholder: "성과내용 작성"  %></td>
      <td><%= f.file_field :related_file, required: true, style:"width:170px" %></td>
      <td><%= f.text_field :bigo, style:"width:100px", placeholder: "비고 작성" %></td>
      <td><%= f.hidden_field :company, value: @company.id %></td>
      <td><%= f.submit "작성", class:"btn btn-primary" %></td>
    </tr>
    </tbody>
    <% end %>
  </table>
</div>