<h1>현황관리</h1>

<div>
  <h2 style="margin-left: 20px">1. 업무성과</h2>

  <div>
    <h3 style="margin-left: 40px">5. 기타</h3>
    <table class="table" style="margin-top: 20px">
      <tr>
        <th>입력일</th>
        <th>날짜</th>
        <th>성과내용</th>
        <th>관련자료</th>
        <th>비고</th>
      </tr>
      
        <% if @company.achievements.length > 0 %>
          <% @company.achievements.each do |achievement| %>
          <tr>
            <td><%= achievement.created_at.to_s[0,10] %></td>
            <td><%= achievement.when.to_s[0,10] %></td>
            <td><%= achievement.content %></td>
            <td>
              <% if achievement.related_file.attachment != nil %>
                <a class="m-0 btn btn-outline-info" href="<%= achievement.related_file.service_url %>" target="_blank">보기</a>
              <% else %>
                <a class="m-0 btn btn-outline-info disabled" ><del>보기</del></a>
              <% end %>
            </td>
            <td><%= achievement.bigo %></td>
          <% end %>
        <% else %>
          <td></td><td></td>
          <td>기타 성과가 없습니다!</td>
          <td></td><td></td>
        </tr>
        <% end %>
    </table>
    <%= form_for @achievement do |f| %>
      <span>입력일은 자동 생성</span>
      <%= f.date_field :when , required: true, style:"width:150px" %>
      <%= f.text_field :content, required: true, style:"width:100px", placeholder: "성과내용 작성"  %>
      <%= f.file_field :related_file, required: true, style:"width:170px" %>
      <%= f.text_field :bigo, style:"width:100px", placeholder: "비고 작성" %>
      <%= f.hidden_field :company, value: @company.id %>
      <%= f.submit "작성", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>