<div class="h2 text-center"><%= link_to "현황관리", state_path(@company.id)%> > <span class="h3"> 업무성과</span></div>


<div class="h3">2. 수상 내역</div>
    <%= render 'awtable', company: @company %>
  <table class="table" style="margin-top : 100px">
    <thead>
      <tr>
        <th>입력일</th>
        <th>날짜</th>
        <th>기관명</th>
        <th>행사명</th>
        <th>수상내용</th>
        <th>관련자료</th>
        <th colspan="2">비고</th>
        <th></th>
      </tr>
    </thead>

    <%= form_for @award, :html => { :id => 'award'} do |f| %>
    <tbody>
      <tr>
        <td>자동 생성</td>
        <td><%= f.date_field :when , required: true, style:"width:150px", form: 'award' %></td>
        <td><%= f.text_field :institution , required: true, style:"width:100px", placeholder: "기관명 작성", form: 'award' %></td>
        <td><%= f.text_field :title , required: true, style:"width:100px", placeholder: "행사명 작성" , form: 'award' %></td>
        <td><%= f.text_field :content, required: true, style:"width:100px", placeholder: "수상내용 작성" , form: 'award' %></td>
        <td><%= f.file_field :related_file, style:"width:170px", form: 'award' %></td>
        <td><%= f.text_field :bigo, style:"width:100px", placeholder: "비고 작성", form: 'award' %></td>
        <td><%= f.hidden_field :company, value: @company.id, form: 'award' %></td>
        <td><%= f.submit "작성", class:"btn btn-primary", form: 'award' %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>