<h1>현황관리</h1>

<div>
  <h2 style="margin-left: 20px">1. 업무성과</h2>

  <div>
    <h3 style="margin-left: 40px">2. 수상내역</h3>
    <table class="table" style="margin-top: 20px">
      <tr>
        <th>입력일</th>
        <th>날짜</th>
        <th>기관명</th>
        <th>행사명</th>
        <th>수상내용</th>
        <th>관련자료</th>
        <th>비고</th>
      </tr>
      
        <% if @company.awards.length > 0 %>
          <% @company.awards.each do |award| %>
          <tr>
            <td><%= award.created_at.to_s[0,10] %></td>
            <td><%= award.when.to_s[0,10] %></td>
            <td><%= award.institution %></td>
            <td><%= award.title %></td>
            <td><%= award.content %></td>
            <td>
              <% if award.related_file.attachment != nil %>
                <a class="m-0 btn btn-outline-info" href="<%= award.related_file.service_url %>" target="_blank">보기</a>
              <% else %>
                <a class="m-0 btn btn-outline-info disabled" ><del>보기</del></a>
              <% end %>
            </td>
            <td><%= award.bigo %></td>
          <% end %>
        <% else %>
          <td></td><td></td>
          <td>수상내역이 없습니다!</td>
          <td></td><td></td>
        </tr>
        <% end %>
    </table>
    <%= form_for @award do |f| %>
      <span>입력일은 자동 생성</span>
      <%= f.date_field :when , required: true, style:"width:150px" %>
      <%= f.text_field :institution , required: true, style:"width:100px", placeholder: "기관명 작성" %>
      <%= f.text_field :title , required: true, style:"width:100px", placeholder: "행사명 작성"  %>
      <%= f.text_field :content, required: true, style:"width:100px", placeholder: "수상내용 작성"  %>
      <%= f.file_field :related_file, required: true, style:"width:170px" %>
      <%= f.text_field :bigo, style:"width:100px", placeholder: "비고 작성" %>
      <%= f.hidden_field :company, value: @company.id %>
      <%= f.submit "작성", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>