<div class="h2 text-center">현황관리 > <span class="h3"> 업무성과</span></div>


  <div>
    <div class="h3">1. 정부지원사업</div>
    <%= render 'gotable', company: @company %>
    <table class="table " style="margin-top: 100px">
    <thead>
  <tr>
    <th>입력일</th>
    <th>날짜</th>
    <th>기관명</th>
    <th>사업명</th>
    <th>사업내용</th>
    <th>관련자료</th>
    <th colspan="2">비고</th>
    <th></th>
  </tr>
  </thead>
    <tbody>
    <%= form_for @government, :html => {:id => 'government'} do |f| %>
    <tr>
      <td>자동 생성</td>
      <td><%= f.date_field :when , required: true, style:"width:150px", form: 'government' %></td>
      <td><%= f.text_field :institution , required: true, style:"width:100px", placeholder: "기관명 작성", form: 'government' %></td>
      <td><%= f.text_field :title , required: true, style:"width:100px", placeholder: "사업명 작성" , form: 'government' %></td>
      <td><%= f.text_field :content, required: true, style:"width:100px", placeholder: "사업내용 작성" , form: 'government' %></td>
      <td><%= f.file_field :related_file, style:"width:170px", form: 'government' %></td>
      <td><%= f.text_field :bigo, style:"width:100px", placeholder: "비고 작성", form: 'government' %></td>
      <td><%= f.hidden_field :company, value: @company.id, form: 'government' %></td>
      <td><%= f.submit "작성", class:"btn btn-primary", form: 'government' %></td>
      </tr>
    <% end %>
      </tbody>

    </table>
  </div>