<%= form_for(company) do |f|%>
    <div class="form-row">
        <div class="form-group col-md-4">
            <%= f.label :"기수"%>
            <%= f.number_field :season, class: "form-control" %>
        </div>
         <div class="form-group col-md-4">
            <%= f.label :"기업 로고 (jpg, jpeg, png 파일)"%>
            <%= f.file_field :logo, accept: '.jpg , .jpeg , .png' %>
        </div>
        <div class="form-group col-md-4">
            <%= f.label :"기업 로고(Ai 파일)", class: "d-block"%>
            <%= f.file_field :logo_ai, accept: '.ai' %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :"상호"%>
            <%= f.text_field :name, class: "form-control" , required: true %>
        </div>
        <div class="form-group col-md-6">
            <%= f.label :"상호(영문)"%>
            <%= f.text_field :name_en, class: "form-control", required: true  %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :"서비스명"%>
            <%= f.text_field :service_name, class: "form-control", required: true  %>
        </div>
        <div class="form-group col-md-6">
            <%= f.label :"서비스명(영문)"%>
            <%= f.text_field :service_name_en, class: "form-control", required: true  %>
        </div>
    </div>
    
    <div class="form-row">
       
        
    </div>
    
    <div class="form-group">
            <%= f.label :"기업 설립 날짜"%>
            <%= f.date_field :established_date, class: "form-control", required: true   %>
    </div>

    <div class="form-row">
        <div id="isRegistered" class="form-group col-md-2">
            <%= f.label :"사업자등록여부", class: "d-block"%>
            <label><%= f.radio_button :isRegistered, true %>Y</label>
            <label><%= f.radio_button :isRegistered, false %>N</label>
        </div>
        <div class="form-group col-md-10">
            <%= f.label :"사업자 등록 번호"%>
            <%= f.number_field :register_num, class: "form-control"%>
        </div>
    </div>
       
    
    <div class="form-row">
        <div id="isCorporated" class="form-group col-md-2">
            <%= f.label :"법인 유무", class: "d-block" %>
            <label><%= f.radio_button :isCorporated, true %>Y</label>
            <label><%= f.radio_button :isCorporated, false %>N</label>
        </div>
        <div class="form-group col-md-5">
            <%= f.label :"법인 등록 번호"%>
            <%= f.number_field :corporated_num, class: "form-control"  %>
        </div>
        <div class="form-group col-md-5">
            <%= f.label :"법인 설립 날짜"%>
            <%= f.date_field :corporated_date, class: "form-control"  %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <%= f.label :"공동 대표 여부", class: "d-block"%>
            <label><%= f.radio_button :co_CEO, true%>Y</label>
            <label><%= f.radio_button :co_CEO, false %>N</label>
        </div>
        <div class="form-group col-md-5">
            <%= f.label :"대표자명"%>
            <%= f.text_field :CEO , class: "form-control", required: true, placeholder: "공동 대표의 경우 쉼표(,)로 구분해 작성해주세요" %>
        </div>
        <div class="form-group col-md-5">
            <%= f.label :"주소 (호수)"%>
            <%= f.number_field :address , class: "form-control", required: true %>
        </div>
    </div>
    
    <div class="form-group">
        <%= f.label :"기업 개요"%>
        <%= f.text_area :company_overview , class: "form-control", required: true %>
    </div>
    <div class="form-group">
        <%= f.label :"서비스 개요"%>
        <%= f.text_area :service_overview, class: "form-control", required: true  %>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :"웹사이트 (선택)"%>
            <%= f.text_field :website, class: "form-control" %>
        </div>
        <div class="form-group col-md-6">
            <%= f.label :"SNS (선택)"%>
            <%= f.text_field :sns, class: "form-control" %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <%= f.label :"휴대폰 번호"%>
            <%= f.number_field :cellphone_num, class: "form-control", required: true  %>
        </div>
        <div class="form-group col-md-4">
            <%= f.label :"일반전화 번호 (선택)"%>
            <%= f.number_field :phone_num, class: "form-control" %>
        </div>
        <div class="form-group col-md-4">
            <%= f.label :"팩스 번호 (선택)"%>
            <%= f.number_field :fax_num, class: "form-control" %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :"입주 날짜"%>
            <%= f.date_field :move_in_date, class: "form-control", required: true  %>
        </div>
        <%# <div class="form-group col-md-6"> %>
            <%# <%= f.label :"퇴주 날짜"%> 
            <%# <%= f.date_field :move_out_date, class: "form-control" %> 
        <%# </div> %>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <%= f.label :"경영대생 유무", class: "d-block"%>
            <label><%= f.radio_button :isBusinessStudent, true%>Y</label>
            <label><%= f.radio_button :isBusinessStudent, false %>N</label>
        </div>
        <%# <div class="form-group col-md-9"> %>
            <%# <%= f.label :"멘토링 횟수"%>
            <%# <%= f.number_field :mentoring, class: "form-control" %> 
        <%# </div> %>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :"EXPRESS 자료(pdf 파일)", class: "d-block"%>
            <%= f.file_field :express_file, accept: ".pdf" %>
        </div>
        <div class="form-group col-md-6">
            <%= f.label :"발표자료(pdf, ppt, pptx 파일)", class: "d-block"%>
            <%= f.file_field :presentation, accept: ".pdf , .ppt , .pptx" %>
        </div>
    </div>
    
    <div>
        <%= f.submit class: "btn btn-light" %>
    </div>
<% end %>


<script>
    $("#isRegistered").change(() => {
        if($('input[name="company[isRegistered]"]:checked').val() === 'false'){
            $("#company_register_num").attr("disabled", "disabled")
            $("#company_register_num").val("")
        } else {
            $("#company_register_num").removeAttr("disabled")
        }
    })

    $("#isCorporated").change(() => {
        if($('input[name="company[isCorporated]"]:checked').val() === 'false'){
            $("#company_corporated_num").attr("disabled", "disabled")
            $("#company_corporated_num").val("")
            $("#company_corporated_date").attr("disabled", "disabled")
            $("#company_corporated_date").val("")
        } else {
            $("#company_corporated_num").removeAttr("disabled")
            $("#company_corporated_date").removeAttr("disabled")
        }
    })
</script>