<%= form_for(company) do |f|%>
    <div class="form-row">
        <div class="form-group col-md-4">
            <%= f.label :"기수"%>
            <%= f.number_field :season, class: "form-control", required: true %>
        </div>
         
        <div class="form-group col-md-4">
            <%= f.label :"기업 로고(Ai 파일)", class: "d-block"%>
            <%= f.file_field :logo_ai, accept: '.ai' %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :"상호"%>
            <%= f.text_field :name, class: "form-control" , required: true %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :"상호(영문)"%>
            <%= f.text_field :name_en, class: "form-control", required: true, pattern: "[A-Za-z0-9]+"  %>
        </div>
        <div class="form-group col-md-4">
            <%= f.label :"기업 로고 (jpg, jpeg, png 파일)"%>
            <%= f.file_field :logo, accept: '.jpg , .jpeg , .png'%>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :"서비스명", label: ""%>
            <%= f.text_field :service_name, class: "form-control", required: true  %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :"서비스명(영문)"%>
            <%= f.text_field :service_name_en, class: "form-control", required: true, pattern: "[A-Za-z0-9]+"  %>
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-2">
            <%= f.label :"공동 대표 여부", class: "d-block"%>
            <label><%= f.radio_button :co_CEO, true%>Y</label>
            <label><%= f.radio_button :co_CEO, false %>N</label>
        </div>
        <div class="form-group col-md-5">
            <%= f.label :"대표자명"%>
            <%= f.text_field :CEO , class: "form-control", required: true, placeholder: "공동 대표의 경우 쉼표(,)로 구분해 작성해주세요" %>
        </div>
        
    </div>
    
    

    <div class="form-row">
        <div id="isRegistered" class="form-group col-md-2">
            <%= f.label :"사업자등록여부", class: "d-block"%>
            <label><%= f.radio_button :isRegistered, true %>Y</label>
            <label><%= f.radio_button :isRegistered, false %>N</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <%= f.label :"사업자 종류"%>
            <%= f.select(:register_num, ['개인 사업자', '법인 사업자'], {}, { :class => 'form-control 사업자종류' }) %>
        </div>
        <div id="개인사업자번호" class="form-group col-md-8" style="display:none;">
            
            <div class="row">
                <%= f.label :"사업자 번호", class: "col-md-2"%>
                <%= f.number_field :register_num, class: "form-control m-2 col-md-2" %>
                <%= f.number_field :register_num, class: "form-control m-2 col-md-2" %>
                <%= f.number_field :register_num, class: "form-control m-2 col-md-2" %> 
            </div>
        </div>
        <div id="법인사업자번호" class="form-group col-md-8" style="display:none;">
            <div class="row">
                <%= f.label :"사업자 번호", class: "col-md-2"%>
                <%= f.number_field :register_num, class: "form-control m-2 col-md-3" %>
                <%= f.number_field :register_num, class: "form-control m-2 col-md-3" %>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
                <%= f.label :"기업 설립 날짜"%>
                <%= f.date_field :established_date, class: "form-control", required: true   %>
        </div>
        <div class="form-group">
                <%= f.label :"업태명"%>
                <%= f.text_field :service_name, class: "form-control", required: true  %>
        </div>
        <div class="form-group">
                <%= f.label :"종목명"%>
                <%= f.text_field :service_name, class: "form-control", required: true  %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
                <%= f.label :"창업 시작일"%>
                <%= f.date_field :established_date, class: "form-control", required: true   %>
        </div>
        <div class="form-group">
                <%= f.label :"입주날짜"%>
                <%= f.date_field :established_date, class: "form-control", required: true   %>
        </div>
        <div class="form-group">
            <%= f.label :"졸업/퇴주"%>
            <%= f.select(:register_num, ['졸업 날짜', '퇴주 날짜'], {}, { :class => 'form-control' }) %>
        </div>
        <div class="form-group col-md-3">
                <%= f.label :"퇴주날짜"%>
                <%= f.date_field :established_date, class: "form-control", required: true   %>
        </div>
        
    </div>
       
    
    
    
        <div class="form-group row">
            <%= f.label :"소재지", class: "col-md-1"%>
            <p class="col-md-8">서울특별시 성북구 안암로 145 고려대학교 경영대학 본관 2층</p>
            <%= f.number_field :address , class: "form-control col-md-2", required: true %>호
        </div>
    </div>

    <div class="form-group col-md-6">
        <%= f.label :"사업자 등록증", class: "d-block"%>
        <%= f.file_field :express_file, accept: ".pdf" %>
    </div>
    <div class="form-group col-md-6">
        <%= f.label :"법인 등기부 등본", class: "d-block"%>
        <%= f.file_field :express_file, accept: ".pdf" %>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <%= f.label :"대표 휴대폰"%>
            <%= f.number_field :cellphone_num, class: "form-control", required: true  %>
        </div>
        <div class="form-group col-md-4">
            <%= f.label :"대표 전화"%>
            <%= f.number_field :phone_num, class: "form-control" %>
        </div>
        <div class="form-group col-md-4">
            <%= f.label :"대표 이메일"%>
            <%= f.text_field :fax_num, class: "form-control" %>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :"웹사이트 (선택)"%>
            <%= f.text_field :website, class: "form-control" %>
        </div>
        <div class="form-group col-md-6">
            <%= f.label :"SNS (선택)"%>
            <%= f.text_field :sns, class: "form-control" %>
        </div>
    </div>
    
    <div class="form-group col-md-3">
        <%= f.label :"경영대생 유무", class: "d-block"%>
        <label><%= f.radio_button :isBusinessStudent, true%>Y</label>
        <label><%= f.radio_button :isBusinessStudent, false %>N</label>
    </div>
    <div class="form-group">
        <%= f.label :"기업 개요"%>
        <%= f.text_area :company_overview , class: "form-control", required: true, rows: "5",maxlength: "500" %>
    </div>
    <div class="form-group">
        <%= f.label :"서비스 개요"%>
        <%= f.text_area :service_overview, class: "form-control", required: true, rows: "5",maxlength: "500"  %>
    </div>
   
    <div class="form-row">
        
    <% if current_user.admin %>
        <div class="form-group col-md-9">
            <%= f.label :"멘토링 횟수"%>
            <%= f.number_field :mentoring, class: "form-control is-invalid" %>
        </div>
    <% end %>
    </div>
        
    <div class="form-group col-md-6">
        <%= f.label :"발표자료(pdf, ppt, pptx 파일)", class: "d-block"%>
        <%= f.file_field :presentation, accept: ".pdf , .ppt , .pptx" %>
    </div>
    
    <div>
        <%= f.submit class: "btn btn-light" %>
    </div>
<% end %>


<script>
    $("#isRegistered").change(() => {
        if($('input[name="company[isRegistered]"]:checked').val() === 'false'){
            $("#company_register_num").attr("disabled", "disabled")
            $("#company_register_num").val("")
        } else {
            $("#company_register_num").removeAttr("disabled")
        }
    })

    $("#isCorporated").change(() => {
        if($('input[name="company[isCorporated]"]:checked').val() === 'false'){
            $("#company_corporated_num").attr("disabled", "disabled")
            $("#company_corporated_num").val("")
            $("#company_corporated_date").attr("disabled", "disabled")
            $("#company_corporated_date").val("")
        } else {
            $("#company_corporated_num").removeAttr("disabled")
            $("#company_corporated_date").removeAttr("disabled")
        }
    })

    console.log($(".사업자종류").val())
    $(".사업자종류").change(() => {
        if($(".사업자종류").val() === "법인 사업자"){
            $("#개인사업자번호").css({ display: "none" })
            $("#법인사업자번호").css({ display: "inline" })
        } else {
            $("#개인사업자번호").css({ display: "inline" })
            $("#법인사업자번호").css({ display: "none" })
        }
    })
</script>