
<%= form_tag("/filter", method: "get") do %>
  <%= label_tag( "q[isBusinessStudent]", "경영대생 유무") %>
  <label>Y<%= radio_button_tag( "q[isBusinessStudent]", "true") %></label>
  <label>N<%= radio_button_tag( "q[isBusinessStudent]", "false") %></label>
  <%= submit_tag("필터 설정") %>
<% end %>

<%= link_to '기업정보 작성', new_company_path %>

<table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>기수</th>
        <th>기업명</th>
        <th>서비스명</th>
        <th>연락처</th>
        <th>사업자 등록 여부</th>
        <th>법인 등록 여부</th>
        <th>경영대생 유무</th>
        <th>보러가기</th>

      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.id %></td>
          <td><%= company.season %></td>
          <td><%= truncate(company.name) %></td>
          <td><%= truncate(company.service_name) %></td>
          <td><%= company.cellphone_num %></td>
          <td><%= company.isRegistered %></td>
          <td><%= company.isCorporated %></td>
          <td><%= company.isBusinessStudent %></td>
          <td><%= link_to "show", company %></td>
          
        </tr>
      <% end %>
    </tbody>
</table>


Download:
  <%= link_to "Excel", companies_path(format: "xls") %>