
<%= form_tag("/search", method: "get") do %>
  <%= select_tag("q[field]", options_for_select([["기업명","name"],["서비스명","service_name"],["기수","season"],["경영대생 유무","isBusinessStudent"]],1)) %>
  <%= text_field_tag("q[value]") %>
  <%= submit_tag("검색") %>
<% end %>

<%= link_to '초기화' , companies_path %>

<%= link_to '기업정보 작성', new_company_path %>

<table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>기수</th>
        <th>기업명</th>
        <th>서비스명</th>
        <th>연락처</th>
        <th>사업자 등록 여부</th>
        <th>법인 등록 여부</th>
        <th>경영대생 유무</th>
        <th>보러가기</th>
        <th>삭제</th>

      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.id %></td>
          <td><%= company.season %></td>
          <td><%= company.name %></td>
          <td><%= company.service_name %></td>
          <td><%= company.cellphone_num %></td>
          <td><%= company.isRegistered %></td>
          <td><%= company.isCorporated %></td>
          <td><%= company.isBusinessStudent %></td>
          <td><%= link_to "show", company %></td>
          <td><%= link_to "delete", company , method: :delete %></td>
          
        </tr>
      <% end %>
    </tbody>
</table>

Download:
  <%= link_to "Excel", companies_path(format: "xls") %>