


<div class="h4 my-5 border px-5">
    <div class="row align-items-center my-3 border">
        <div class="col-md-2 text-center">
            <%= image_tag @company.logo.variant(resize: "100x100"), class: "p-3" %>
            <p ><%= @company.season %>기</p>
        </div>
        <div class="col-md-10 ">
            <div class="row">
                <div class="col"><p>상호명 : <%= @company.name %></p></div>
                <div class="col"><p>상호명(영문) : <%= @company.name_en %></p></div>
            </div>
            <div class="row" >
                <div class="col"><p>서비스명 : <%= @company.service_name %></p></div>
                <div class="col"><p>서비스명(영문) : <%= @company.service_name_en %></p></div>
            </div>
        </div>
    </div>
   
    <div class="row my-3">
        <div class="col-md-12"><p>기업 설립 날짜 : <%= @company.established_date%></p></div>
    </div>
    <div class="row my-3">
        <div class="col-md-12">
            <p>사업자 등록 번호 : 
                <% if @company.isRegistered %>
                    <%= @company.register_num%>
                <% else %>
                    미등록
                <% end %>
            </p>
        </div>
    </div>
    <div class="row my-3">

        <div class="col-md-5">
            <p>법인 등록 번호 : 
                <% if @company.isCorporated %>
                    <% @company.corporated_num%>
                <% else %>
                    미등록
                <% end %>
            </p>
        </div>
        
        <% if @company.isCorporated %>
            <div class="col-md-5"><p>법인 설립 날짜 : <%= @company.corporated_date %></p></div>
        <% end %>
    </div>
    <div class="row my-3">
        <div class="col-md-3">
            <p>공동 대표 여부 : 
                <% if @company.co_CEO %>
                    O
                <% else %>
                    X
                <% end%>
            </p>
        </div>
        <div class="col-md-9"><p>대표자명 : <%= @company.CEO %></p></div>
    </div>

    <div class="row my-3">
        <div class="col-md-12"><p>주소 : 서울특별시 성북구 안암로 145 경영본관 2층 <%= @company.address %>호</p></div>
    </div>

    <div class="row my-3">
        <div class="col-md-6">
            <p>기업 개요</p>
            <div style="word-break:break-all" class="border p-3"><p><%= @company.company_overview %></p></div>
        </div>
        <div class="col-md-6">
            <p>서비스 개요</p>
            <div style="word-break:break-all" class="border p-3"><%= @company.service_overview %></div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-6">
            <p>웹사이트 : <%= @company.website %></p>
        </div>
        <div class="col-md-6">
            <p>SNS : <%= @company.sns %></p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-4">
            <p>휴대폰 번호 : <%= @company.cellphone_num[0,3] %>-<%= @company.cellphone_num[3,4] %>-<%= @company.cellphone_num[7,4] %></p>
        </div>
        <div class="col-md-4">
            <p>일반전화 번호 : <%= @company.phone_num %></p>
        </div>
        <div class="col-md-4">
            <p>팩스 번호 : <%= @company.fax_num %></p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-6">
            <p>입주 날짜 : <%= @company.move_in_date %></p>
        </div>
        <div class="col-md-6">
            <p>퇴주 날짜 : <%= @company.move_out_date %></p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-6"><p>경영대생 유무 :
            <% if @company.isBusinessStudent == true %>
                O
            <% else %>
                X
            <% end%>
        </p></div>
        <div class="col-md-6">
            <p>멘토링 횟수 : <%= @company.mentoring %></p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-6">
            <p>EXPRESS 자료(pdf 파일)</p>
                <% if @company.express_file.attachment != nil %>
                    <a href="<%= @company.express_file.service_url %>">다운로드</a>
                <% else %>
                    X
                <% end %>
        </div>
        <div class="col-md-6">
            <p>발표 자료 </p>
                <% if @company.presentation.attachment != nil %>
                    <a href="<%= @company.presentation.service_url %>">다운로드</a>
                <% else %>
                    X
                <% end %>
        </div>
    </div>

    <%= link_to "수정하기", edit_company_path(@company), class: "mb-5 btn btn-light"%>

</div>
